:root{
    /* Primary */
     --Bright-Red : hsl(12, 88%, 59%);
     --Dark-Blue: hsl(228, 39%, 23%);
     /*  Neutral */
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);
}

/* Nav bar */
.navbar{
    overflow: hidden;
    position: relative;
    height: 60px;
    padding: 3.2rem 0px;
}
.navbar .flex{
    justify-content: space-between;
}
.navbar nav .flex{
    justify-content: space-between;
}
.navbar nav li{
    margin: auto 1rem ;
}
.navbar nav li a:hover{
    opacity: 0.7;
}
.navbar img{
    margin-top:15px;
}


/* Section 1 */
.section1{
    position: relative;
}
.section1 img{
    position: relative;
    top: -25px;
}

/* Section 2 */

.section2 .section2-more-info .item-num p{
    font-size: 16px;
    background-color: var(--Bright-Red);
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    color: white;
}

.section2 .section2-more-info .flex{
    position: relative;
} 
.section2 .section2-more-info .item-num{
    transform: translateY(-8px);
}
.section2 .section2-info-item{
    margin-bottom: 40px;
}
.section2 .section2-more-info .flex{
    align-items: flex-start;
    gap: 20px;
} 

/* section3 */
.section3 {
    text-align: center;
    position: relative;
}

/* Sub footer */

.sub-footer{
    background-color: var(--Bright-Red);
    position: relative;
    overflow: hidden;
}

.sub-footer .grid{
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
}
.sub-footer .secondary-btn{
    justify-self: flex-end;
}
.sub-footer .sub-footer-text{
    color: var(--Very-Pale-Red);
}

.footer{
    background-color: var(--Very-Dark-Blue);
}

.footer .flex{
    justify-content: space-between;
    align-items: stretch;
}

.footer .container .social,
.footer .footer-section2 ul,
.footer .footer-section3 ul,
.footer .footer-section4
{
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.footer .container .social,.footer .footer-section4
{
    gap: 50px;
}
.social-links{
    gap: 10px;
}
.footer .container .social i{
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
}
.footer .container .social i:hover,
.footer .container ul li a:hover{
    color: var(--Bright-Red);
}
.footer .container ul li a{
    color: var(--Vary-Light-Gray);
    font-size: 0.9rem;
}

.footer .footer-section4 input[type='email']{
    padding: 11px 15px;
    font-size: 0.9rem;
    color: var(--Vary-Light-Gray);
    border-radius: 40px;
    margin-right: 10px;
    color: var(--Bright-Red);
    outline: none;
    border: none;
}
.footer .primary-btn{
    text-align: center;
    min-width: 60px;
    padding: 13px 5px;
    height: auto;
    box-shadow: none;
    border-radius: 30px;
}
.footer .primary-btn:hover{
    opacity: 1;
    color: rgba(255, 255, 255, 0.662)
}

.footer .footer-section4 .grid{
    grid-template-columns: 4fr 1fr;
    gap: 2px;

}