@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    Font-size: 16px;
    color: var(--Dark-Blue);
}
:root{
    /* Primary */
     --Bright-Red : hsl(12, 88%, 59%);
     --Dark-Blue: hsl(228, 39%, 23%);
     /*  Neutral */
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);
}

/* General styling */
body{
    height: 100vh;
    overflow-x: hidden;
}
p{
    line-height: 1.5rem;
}
a{
    text-decoration: none;
    color: var(--Dark-Blue);
}
ul{
    list-style: none;
}
.container{
    max-width: 1050px;
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.decoration{
    position: absolute;
    right: -50px;
    top: -150px;
    height: 45rem;
    z-index: -1;
}
.section3 .decoration{
    position: absolute;
    left: -350px;
    top: -350px;
    bottom: 0px;
    right : 0;
    height: 41rem;
    z-index: -1;
}
.sub-footer .decoration{
    height: 30rem;
    z-index: 0;
    top: -300px;
    right: -280px;
    opacity: 0.09;
}
.sub-footer .decoration2{
    top: 0;
    left: 40px;
    bottom: -300px;
}
.primary-btn{
    cursor: pointer;
    font-weight: 400;
    min-width: 130px;
    min-height: 38px;
    font-size: 15px;
    color: white;
    background-color: var(--Bright-Red);
    border-radius: 20px;
    padding: 0.6rem 1.3rem;
    transition: 0.2s all ease;
    box-shadow: 3px 11px 16px -9px rgba(242,95,58,0.75);
    -webkit-box-shadow: 3px 11px 16px -9px rgba(242,95,58,0.75);
    -moz-box-shadow: 3px 11px 16px -9px rgba(242,95,58,0.75);
    z-index: 1;
    border: none;
}
.primary-btn:hover{
    opacity: 0.8;
}

.secondary-btn{
    background-color: var(--Very-Pale-Red);
    color: var(--Bright-Red);
}
.secondary-btn:hover{
    opacity: 1;
    color: hsla(12, 88%, 59%, 0.623);
}

.avatar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    transform: translateY(-30px);
}
.card{
    padding: 5px 30px 30px 30px;
    margin: 15px;
    text-align: center;
    background-color: var(--Vary-Light-Gray);
    width: 450px;
    min-width: 500px;

}
.card h5{
    margin-bottom: 10px;
}

/* Fonts */

.sm{
    font-size: 0.92rem;
    font-weight: 300;
    color: var(--Dark-Grayish-Blue)
}
.md{
    font-size: 1.1rem;
}
.lg{
    font-size: 2rem;
}
.xl{
    font-size: 3rem;
}

.tx-center{
    text-align: center;
}


/* Padding useful classes */

.py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.py-3{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.py-4{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
.py-5{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-3{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
.my-4{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.my-5{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.no-m-btm{
    margin-bottom: 0rem;
}


.error-text{
    color: red;
    font-size: 0.8rem;
    margin-left: 10px;
}
.desabled{
    visibility: hidden;
}